<html>
   <body>
   
      <form action = "http://localhost:5000/change" method = "POST" 
         enctype = "multipart/form-data">
         oem_part_id: <input type="text" name="oem_part_id"><br>
         hsn_code: <input type="text" name="hsn_code"><br>
         oem_child_part_details: <input type="text" name="oem_child_part_details" id="pic"><br>
         oem_other_models_compatibility: <input type="text" name="oem_other_models_compatibility" id="pic"><br>
         oem_part_description: <input type="text" name="oem_part_description" id="pic"><br>
         model_id: <input type="text" name="model_id" id="pic"><br>
         is_active: <input type="text" name="is_active" id="pic"><br>
         oem_part_diagram: <input type="text" name="oem_part_diagram" id="pic"><br>
         oem_part_image: <input type = "file" name = "oem_part_image" /><br>
         oem_part_mrp: <input type = "text" name = "oem_part_mrp" /><br>
         oem_part_name: <input type = "text" name = "oem_part_name" /><br>
         oem_part_name_tags: <input type = "text" name = "oem_part_name_tags" /><br>
         oem_part_number: <input type = "text" name = "oem_part_number" /><br>
         part_brand_id: <input type = "text" name = "part_brand_id" /><br>
         part_category_id: <input type = "text" name = "part_category_id" /><br>
         part_subcategory_id: <input type = "text" name = "part_subcategory_id" /><br>
         vehicle_id: <input type = "text" name = "vehicle_id" /><br>
         <input type = "submit"/>
      </form>
      
   </body>
</html>